body {
    background: #BFD7E4;
}

body, input, select, textarea {
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 107px;
}

header img{
    margin-top: 25px;
}
   
header h1 {
    font-family: "Staatliches", sans-serif;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
}

header p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
}
body::before {
    content: '';
    background: #293241;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 465px;
    top: 0;
    left: 0;
}

.page {
    width: 750px;
    margin: 0 auto;
}

fieldset {
    border: none;
    padding: 0;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #F67669;

    width: 750px;
    height: 132px;

    border-radius: 20px 20px 0px 0px;
    margin-top: 32px;
}

.top h2 {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 48px;
    background: white;
    min-height: 300px;
    padding: 16px 64px 32px;
    border-radius: 0px 0px 20px 20px;
}

fieldset legend {
    font-family: 'Staatliches';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #253B51;
    width: 622px;

    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 8px;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper input, textarea {
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    background: #FAFAFC;
    height: 56px;
    padding: 0 24px;
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    resize: none;
}

.input-wrapper textarea {
    height: 170px;
    padding-top: 12px;
}

.input-wrapper label, .checkbox-wrapper label {
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    margin: 16px 0 8px;
}

.input-wrapper span {
    color: #C1BCCC;
    padding-left: 9px;
}

.input-wrapper span:hover {
    color: #4E4958;
}

.name {
    display: flex;
    gap: 22px;    
}

.name >:nth-child(n){
    width: 300px;
}

.mentor {
    display: flex;
    gap: 22px;    
}

.mentor>:nth-child(n){
    width: 300px;
}

.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 16px;

    margin: 30px 0 6px;
}

.checkbox-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
}

.checkbox-wrapper label::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;

    border: 1px solid #E6E6F0;
    border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
}

.date {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.date label {
    padding-top: 31px;
    margin: 0 0 8px;
}

.date>:nth-child(1) {
    width: 300px;
    padding-right: 22px;
}

.date>:nth-child(n+2) {
    width: 140px;
}

form button {
    display: flex;
    justify-content: center;
    padding: 15px 40px;
    margin: 44px 0;

    color: white;

    background: #F67669;

    border-radius: 8px;
    border: 0;

    font-family: 'Staatliches';
    font-size: 20px;
    line-height: 26px;
}

form button:hover {
    background: #f75543;
}

input:invalid {
    border: 1px solid rgba(255, 0, 0, 0.548);
}

input:valid {
    border: 1px solid green;
}

.checkbox-wrapper input:invalid + label::before{
    border: 1px solid rgba(255, 0, 0, 0.548);
}